INSTALL
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
ylwrap

**/Makefile
**/Makefile.in

**/.deps/
**/.libs/
**/*.la
**/*_la*
**/*.o
**/*.log
**/*.trs
**/*.exe

src/parser_gen.h
src/parser_gen.c
src/lexer_gen.h
src/lexer_gen.c
src/b3

