################################################################################
# This is a example config listing all available commands
################################################################################

bindsym Mod4+Shift+q kill

bindsym Mod4+f fullscreen toggle

bindsym Mod4+Shift+space floating toggle

# Change focused window on the focused workspace
bindsym Mod4+k focus up
bindsym Mod4+j focus down
bindsym Mod4+h focus left
bindsym Mod4+o focus right
bindsym Mod4+l focus right

# Move focused window on the focused workspace
bindsym Mod4+Shift+k move up
bindsym Mod4+Shift+j move down
bindsym Mod4+Shift+h move left
bindsym Mod4+Shift+o move right
bindsym Mod4+Shift+l move right


# Changed focused monitor
bindsym Mod4+Ctrl+k focus output up
bindsym Mod4+Ctrl+j focus output down
bindsym Mod4+Ctrl+h focus output left
bindsym Mod4+Ctrl+o focus output right
bindsym Mod4+Ctrl+l focus output right

# Move focused window of the focused workspace on the workspace of a monitor
bindsym Mod4+Ctrl+Shift+k move container to output up
bindsym Mod4+Ctrl+Shift+j move container to output down
bindsym Mod4+Ctrl+Shift+h move container to output left
bindsym Mod4+Ctrl+Shift+o move container to output right
bindsym Mod4+Ctrl+Shift+l move container to output right

# Move focused workspace to a monitor
bindsym Mod4+Ctrl+Shift+Mod1+h move workspace to output left
bindsym Mod4+Ctrl+Shift+Mod1+j move workspace to output down
bindsym Mod4+Ctrl+Shift+Mod1+k move workspace to output up
bindsym Mod4+Ctrl+Shift+Mod1+o move workspace to output right
bindsym Mod4+Ctrl+Shift+Mod1+l move workspace to output right

# Change focused workspace
bindsym Mod4+1 workspace 1
bindsym Mod4+2 workspace 2
bindsym Mod4+3 workspace 3
bindsym Mod4+4 workspace 4
bindsym Mod4+5 workspace 5
bindsym Mod4+6 workspace 6
bindsym Mod4+7 workspace 7
bindsym Mod4+8 workspace 8
bindsym Mod4+9 workspace 9
bindsym Mod4+F1 workspace 11
bindsym Mod4+F2 workspace 12
bindsym Mod4+F3 workspace 13
bindsym Mod4+F4 workspace 14
bindsym Mod4+F5 workspace 15
bindsym Mod4+F6 workspace 16
bindsym Mod4+F7 workspace 17
bindsym Mod4+F8 workspace 18
bindsym Mod4+F9 workspace 19

# Move focused window to workspace
bindsym Mod4+Shift+1 move container to workspace 1
bindsym Mod4+Shift+2 move container to workspace 2
bindsym Mod4+Shift+3 move container to workspace 3
bindsym Mod4+Shift+4 move container to workspace 4
bindsym Mod4+Shift+5 move container to workspace 5
bindsym Mod4+Shift+6 move container to workspace 6
bindsym Mod4+Shift+7 move container to workspace 7
bindsym Mod4+Shift+8 move container to workspace 8
bindsym Mod4+Shift+9 move container to workspace 9
bindsym Mod4+Shift+F1 move container to workspace 11
bindsym Mod4+Shift+F2 move container to workspace 12
bindsym Mod4+Shift+F3 move container to workspace 13
bindsym Mod4+Shift+F4 move container to workspace 14
bindsym Mod4+Shift+F5 move container to workspace 15
bindsym Mod4+Shift+F6 move container to workspace 16
bindsym Mod4+Shift+F7 move container to workspace 17
bindsym Mod4+Shift+F8 move container to workspace 18
bindsym Mod4+Shift+F9 move container to workspace 19

################################################################################
# End of the example config
################################################################################
